.button {
  font-weight: 700;
  padding: 1.5em 3em;
  color: black;
  background-color: transparent;
  border-bottom: 1px solid black;

  &--is-main {
    background-color: black;
    color: white;
    font-weight: 700;
    padding: 1.5em 3em;
  }
}

.is-first {
  margin-right: 3em;
}
