.navbar {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  &__button {
    z-index: 9999;
    border: none;
    background-color: white;
    &.is-inverted {
      background-color: black;
    }
  }

  &__icon {
    width: 1.5em;
    height: 1.5em;
    margin: 2em;
  }
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 4em;
  align-items: center;
  height: 86px;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    // &.is-inverted {
    //   color: white;
    // }
  }

  &__item {
    display: inline;

    &:first-child {
      margin-right: 1em;

      &:after {
        content: "|";
        margin-left: 1em;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
  .usermenu {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;

    &:hover {
      .usermenu__list {
        display: block;
      }
    }

    &__list {
      list-style-type: none;
      position: absolute;
      display: none;
      top: 55px;
      background: white;
      border-radius: 5px;
      padding: 5px 0;
      color: black;
      box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
      &::before {
        border: 6px solid transparent;
        border-bottom-color: white;
        position: absolute;
        display: inline-block;
        content: "";
        top: -12px;
        left: 14px;
      }
    }
    &__item {
      padding: 5px 60px 5px 20px;
      &:hover {
        background-color: black;
        color: white;
      }

      &--is_main {
        padding: 5px 60px 5px 20px;
        background-color: black;
        color: white;
      }
      a,
      &--is_main a {
        text-decoration: none;
        color: inherit;
      }
    }
    &__line {
      height: 1px;
      border: 0;
      border-top: 1px solid rgb(238, 238, 238);
      background-color: rgb(238, 238, 238);
      border-color: rgb(238, 238, 238);
      color: rgb(238, 238, 238);
    }

    &__avatar {
      width: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}
.button--is_link {
  color: black;
  background-color: white;
  font-size: 15px;
  width: 100%;
  text-align: left;
  &:hover {
    background-color: black;
    color: white;
  }
}
.sidemenu {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  left: 0;
  background-color: white;
  height: 100vh;
  padding: 8em 3.5em 2em 3.5em;
  color: black;
  z-index: 9998;

  &__list {
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 4rem;
  }

  &__item:not(:last-child) {
    margin-bottom: 0.5em;
  }

  &__link,
  &__bottom a {
    text-decoration: none;
    color: inherit;
    &.active {
      text-decoration: line-through;
    }
  }
  &__link:not(.active):hover:before {
    content: "+";
  }
  &__bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    :first-child {
      margin-right: 6em;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    &__button {
      padding: 0;
    }
    &__icon {
      margin: 1.75em;
    }
  }
  .menu {
    padding: 1.5em 1.75em;

    &__item {
      display: inline;

      &:first-child {
        margin-right: 1em;

        &:after {
          content: "|";
          margin-left: 1em;
        }
      }
    }
  }

  .sidemenu {
    width: 100%;
    padding: 6em 3.5em 2em 3.5em;
  }
}
